$font-family:    'Lato', sans-serif;
$font-size:    13px;
$font-size-main-nav:    16px;
$font-size-main-nav-l:	14px;

$white: #fff;
$grey: #777;
$black: #000;

$primary-color: $grey;
$sidebar-bg-color: #f4f3f1;

$link-color: $black;
$link-main-nav-color: $grey;
$link-hover-color: $grey;
$link-main-nav-hover-color: $black;
$link-visited-color: $black;

$break-xs: 320px;
$break-s: 480px;
$break-l: 768px;
$break-xl: 1200px;